<h5 class="float-center"><%= @list.name %></h5>

<% books = [] %>

<% books_id = [] %>
<% @books_ids.each{ |books| books_id.push(books.book_id) } %>

<% books_id.each do |book| %>
  <% books.push(Book.find(book)) %>
<% end %>

<% if books.empty? %>
  <h6 class="float-center">You got nothing here yet</h6>
  <% end %>

<div class="row">
  <% books.each do |book| %>
    <div class="card text-center mx-auto mb-3" style="width: 18rem;">
      <% if book.cover.attached? %>
        <%= link_to image_tag( book.cover, width: "250pt" ), book_path(book), class: "card-img-top"%>
      <% else %>
        <%= link_to image_tag( "NoBookCover.png", width: "250pt" ), book_path(book), class: "card-img-top" %>
      <% end %>

      <div class="card-body">
        <%= book.title %><br>
        <%= link_to "Delete", { controller: 'books_lists', action: "destroy", id: book, list_id: @list }, remote: true, method: :delete %>
      </div>
    </div>
  <% end %>
</div>

