%h5.align-center= t('.welcome')
- if @favorite_books.blank?
  %h6.align-center= t('.empty')

.row
  - @favorite_books.each do |book|
    = turbo_frame_tag "favorite_#{book.id}_item" do
      = render "shared/book_card", book: book do
        = link_to t('.delete'), book_favorites_path(book_id: book), data: { 'turbo-method': :delete }
