= simple_form_for author, html: { data: { turbo: false } }, defaults: { wrapper_html: { class: 'form-group mb-3 w-50' }, label: false } do |f|

  = f.input :avatar, include_blank: true
  = f.hint t('.books')
  = f.input :book_ids, collection: Book.order(:title).pluck(:title, :id),
     input_html: { class: :dropdown, multiple: true }
  = f.hint t('.birthday')
  = f.input :date_of_birth, start_year: 1800, end_year: Time.now.year
  = f.input :full_name, placeholder: t('.name')
  = f.input :biography, placeholder: t('.biography')
  = f.button :submit, class: 'btn btn-outline-success'

