= simple_form_for @author do |f|
  .form-group.mb-2
    = f.file_field :avatar
  .form-group.mb-2
    = f.association :books, as: :check_boxes, item_wrapper_class: "inline_block"
  .form-group.mb-2
    = f.date_select :birthdate, start_year: 1800, end_year: Time.now.year
  .form-group.mb-2
    - @author.errors.full_messages_for(:full_name).each do |message|
      %div= message
    = f.text_field :full_name, class: 'form-control w-50', placeholder: t('author.name')
  .form-group.mb-2
    = f.text_area :biography, class: 'form-control w-50', placeholder: t('author.biography')
  .form-group.mb-2
    = f.button :submit, class: 'btn btn-outline-success'
