.card-title.d-flex.justify-content-between
  %div
    %strong= t('.name')
    = @facade.author_name
    %br/
    %strong= t('.birthday')
    = @facade.author_birth
    %br/
    %strong= t('.biography')
    = @facade.author_biography
    %br/
    - unless @facade.author_books.empty?
      %strong= t('.books')
      - @facade.author_books.each do |book|
        %ul
          %li= link_to book.title, book_path(book)
  %div
    - if @facade.author_avatar.attached?
      = image_tag @facade.author_avatar, width: "250pt"
    - else
      = image_tag("NoAvatarImg.png", option = {height: "250pt"})
= link_to t('.back'), authors_path
