<div class="card-title d-flex justify-content-between ">
  <div>
    <strong>Name:</strong>
    <%= @author.full_name %><br>

    <strong>Birthdate:</strong>
    <%= @author.birthdate %><br>

    <strong>Biography:</strong>
    <%= @author.biography %><br>

    <% unless @author.books.empty?%>
      <strong>Books:</strong>
      <% @author.books.each do |book| %>
        <ul>
          <li><%= link_to book.title, book_path(book) %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.admin? %>
    <div>
      <ul class="navbar-nav ms-auto">
        <li><%= link_to "Edit", edit_author_path(@author) %></li>
        <li><%= link_to "Destroy", author_path(@author), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: "text-danger"%></li>
      </ul>
    </div>
  <% end %>

  <div>
    <% if @author.avatar.attached? %>
      <%= image_tag @author.avatar, width: "250pt" %>
    <% else %>
      <%= image_tag("NoAvatarImg.png", option = {height: "250pt"}) %>
    <% end %>
  </div>
</div>

<%= link_to "Back to authors", authors_path %>