.row
  - books.each do |book|
    .card.text-center.mx-auto.mb-3{style: "width: 18rem;"}
      - if book.cover.attached?
        = link_to image_tag( book.cover, width: "250pt" ), book_path(book), class: "card-img-top"
      - else
        = link_to image_tag( "NoBookCover.png", width: "250pt" ), book_path(book), class: "card-img-top"
      .card-body
        = book.title
        %br/
        - unless delete == false
          - if additional_component == true
            = link_to t('delete'), { controller: which_controller, action: :destroy, id: book, list_id: component }, remote: true, method: :delete
          - else
            = link_to t('delete'), { controller: which_controller, action: :destroy, id: book }, remote: true, method: :delete
