- if user_signed_in?
  - unless current_user.lists.blank?
    - List.where(user_id: current_user.id).each do |list|
      - if list.book_in_list?(book)
        = link_to "delete from list", { controller: 'books_lists', action: :destroy, id: book, list_id: list.id }, method: :delete
        = list.name
        %br/
      - else
        = link_to "add to list", { controller: 'books_lists', action: :create, id: book, list_id: list.id }, method: :post
        = list.name
        %br/
  %br/
  .card-title.d-flex.justify-content-between
    %div
      - Rating.all.each do |rating|
        - if current_user.already_rated?(book) && rating.id == RatingBook.find_by(book_id: book.id, user_id: current_user.id).rating_id
          = link_to rating.title, { controller: 'rating_books', action: :destroy, id: book, rating_id: rating.id }, method: :delete, class: "btn btn-success"
          %br/
        - else
          = link_to rating.title, { controller: 'rating_books', action: :create, id: book, rating_id: rating.id }, method: :post, class: "btn btn-primary"
          %br/

- counter = 1
- votes = Hash.new
- rating = RatingBook.where(book_id: book.id)
- Rating.all.each do |vote|
  - votes[vote.title] = rating.where(rating_id: counter).count
  - counter += 1
= pie_chart votes