= simple_form_for book, defaults: { wrapper_html: { class: 'form-group mb-3 w-50' }, label: false} do |form|

  = form.input :cover, include_blank: true
  = form.hint t('.authors')
  = form.input :author_ids, collection: Author.order(:full_name).pluck(:full_name, :id),
      input_html: { class: :dropdown, multiple: true }
  = form.input :title, placeholder: t('.title')
  = form.input :description, placeholder: t('.description')
  = form.input :pages_count, placeholder: t('.pages')
  = form.input :published_at, placeholder: t('.published')
  = form.input :publisher, placeholder: t('.publisher')
  = form.button :submit, class: 'btn btn-outline-success'
