= simple_form_for book do |form|
  .form-group.mb-2
    = form.file_field :cover, include_blank: true
  .form-group.mb-2
    = form.label t('.authors')
    = form.collection_select :author_ids, Author.order(:full_name), :id, :full_name, {}, { class: 'dropdown', multiple: true }
  .form-group.mb-2
    - book.errors.full_messages_for(:title).each do |message|
      %div= message
    = form.text_field :title, class: 'form-control w-50', placeholder: t('.title')
  .form-group.mb-2
    - book.errors.full_messages_for(:description).each do |message|
      %div= message
    = form.text_area :description, class: 'form-control w-50', placeholder: t('.description')
  .form-group.mb-2
    = form.number_field :pages_count, class: 'form-control w-50', placeholder: t('.pages')
  .form-group.mb-2
    = form.text_field :published_at, class: 'form-control w-50', placeholder: t('.published')
  .form-group.mb-2
    = form.text_field :publisher, class: 'form-control w-50', placeholder: t('.publisher')
  .form-group.mb-2
    = form.button :submit, class: 'btn btn-outline-success'
