.card-title.d-flex.justify-content-between
  - if user_signed_in? && current_user.admin?
    %h5.card-subtitle.mb-2.text-muted Welcome admin
    = link_to "New book", new_book_path
%h1.card-title Books
= form_tag(search_path, :method => "get") do
  .input-group.mb-2
    = search_field_tag :search, params[:search], placeholder: "Search books", class: "form-control"
    .input-group-btn
      = button_tag "Search", :class => 'btn btn-outline-success', :name => nil
= render "shared/books_card", books: @books
