.card-title.d-flex.justify-content-between
  - if user_signed_in? && current_user.admin?
    %h5.card-subtitle.mb-2.text-muted= t('.admin')
    = link_to t('.new'), new_book_path
%h1.card-title= t('.books')
= form_tag(search_path, method: :get) do
  .input-group.mb-2
    = search_field_tag :search, params[:search], placeholder: t('.search_book'), class: 'form-control'
    .input-group-btn
      = button_tag t('.search'), class: 'btn btn-outline-success', name: nil
= render 'shared/books_card', books: @books
