=render "books/adminpanel_and_favorites", book: @book
.card-title.d-flex.justify-content-between
  %div
    %strong= t('book.title')
    = @book.title
    %br/
    %strong= t('book.description')
    = @book.description
    %br/
    %strong= t('book.pages')
    = @book.pages_count
    %br/
    %strong= t('book.published')
    = @book.published_at
    %br/
    %strong= t('book.publisher')
    = @book.publisher
    %br/
    - unless @book.authors.empty?
      %strong= t('authors')
      - @book.authors.each do |author|
        %ul
          %li= link_to author.full_name, author_path(author)
  %div
    - if @book.cover.attached?
      = image_tag @book.cover, width: "250pt"
    - else
      = image_tag("NoBookCover.png", option = {height: "250pt"})
=render 'books/chart_and_list', book: @book
= link_to t('book.back'), root_path