= render "books/favorites", book: @facade.book

.card-title.d-flex.justify-content-between
  %div
    %strong= t('.title')
    = @facade.book_title
    %br/
    %strong= t('.description')
    = @facade.book_description
    %br/
    %strong= t('.category')
    = @facade.book_category
    %br/
    %strong= t('.pages')
    = @facade.book_pages_count
    %br/
    %strong= t('.published')
    = @facade.book_published_at
    %br/
    %strong= t('.publisher')
    = @facade.book_publisher
    %br/
    - unless @facade.book_authors.empty?
      %strong= t('.authors')
      - @facade.book_authors.each do |author|
        %ul
          %li= link_to author.full_name, author_path(author)
  %div
    - if @facade.book_cover.attached?
      = image_tag @facade.book_cover, width: "250pt"
    - else
      = image_tag("NoBookCover.png", option = {height: "250pt"})
= render 'books/list', book: @facade.book
= render "books/chart", book: @facade.book
= link_to t('.back'), root_path
